<div class="container" style="background: #f5f5f5;">
  <div class="sidebar inline-block width20" id="sidebar" [class.width0]="show">
    <div class="close-sidebar" (click)="show = !show"><i class="fa fa-times" style="color: #fff" aria-hidden="true"></i></div>
    <div class="upper-sidebar align-items-center">
      <p>Contents</p>
    </div>
    <div>
      <div class="lower-sidebar">
        <nav class="menu">
          <a *ngFor="let content of contentList" (click)="toggleMobile()" routerLink="{{content.id}}" routerLinkActive="active">
            {{ content.name  }}
          </a>
        </nav>
      </div>
    </div>
  </div>
  <div class="main inline-block width80" id="main" [class.width100]="show">
    <div class="header">
      <div class="float-left">
        <span style="cursor: pointer" (click)="show = !show">&#9776;</span>
      </div>
      <span style="margin-left: 15px;">StudyOrb</span>
      <div class="link-icons">
        <span (click)="backLink()"><i class="fa fa-close" aria-hidden="true"></i></span>
      </div>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
