<div class="container" style="background: #f5f5f5;">
    <div class="sidebar inline-block width20" id="sidebar" [class.width0]="show">
      <div class="close-sidebar" (click)="show = !show"><i class="fa fa-times" style="color: #fff" aria-hidden="true"></i></div>
      <div class="upper-sidebar align-items-center">
        <div>{{ classData.name }}</div>
      </div>
      <div>
        <div class="lower-sidebar">
          <nav class="menu">
            <a routerLink="study" (click)="toggleMobile()" routerLinkActive="active">Study</a>
            <a routerLink="contests" (click)="toggleMobile()" routerLinkActive="active">Contests</a>
<!--            <a routerLink="friends" routerLinkActive="active">Friends</a>-->
<!--            <nav class="drop-down-menu">-->
<!--              <input type="checkbox" class="activate" id="accordion-1" name="accordion-1">-->
<!--              <label for="accordion-1" class="menu-title">Subjects</label>-->
<!--              <div class="drop-down">-->
<!--                <a>Normal</a>-->
<!--                <a>Normal</a>-->
<!--                <a>Normal</a>-->
<!--              </div>-->
<!--            </nav>-->

<!--            <nav class="drop-down-menu">-->
<!--              <input type="checkbox" class="activate" id="accordion-2" name="accordion-2">-->
<!--              <label for="accordion-2" class="menu-title">Contests</label>-->

<!--              <div class="drop-down">-->
<!--                <a>Normal</a>-->
<!--                <a>Normal</a>-->
<!--                <a>Normal</a>-->
<!--              </div>-->
<!--            </nav>-->

<!--            <a>Contests</a>-->
<!--            <a>Normal</a>-->

          </nav>
      </div>
    </div>
    </div>
    <div class="main inline-block width80" id="main" [class.width100]="show">
      <div class="header">
        <div class="float-left">
          <span style="cursor: pointer" (click)="show = !show">&#9776;</span>
        </div>
        <span style="margin-left: 15px;">StudyOrb</span>
        <div class="link-icons">
          <a (click)="logout()"><span style="font-size: 0.9em;color: #7c73e6;">Logout </span><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="content">
        <router-outlet></router-outlet>
      </div>

    </div>
</div>

