$break-small: 520px;
$break-large: 1200px;
$backcolor: #33495e;
.container {
  overflow: hidden;
}
.main{
  height: 100vh;
  vertical-align: top;
  background: #e9ecef;
  overflow: auto;
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
}

.sidebar {
  background: $backcolor;
  height: 100vh;
  overflow: auto;
  color: #fff;
  -webkit-transition: width 0.2s; /* For Safari 3.1 to 6.0 */
  transition: width 0.2s;
  @media screen and (max-width: $break-small) {
    width: 100%;
    position: absolute;
    z-index: 10;
  }
  .close-sidebar {
    position: absolute;
    right: 0;
    padding: 5px;
    font-size: 25px;
    display: none;
    @media screen and (max-width: $break-small) {
      display: block;
    }
  }


  .menu a {
    display: block;
    padding: 10px 15px;
    color: #fff;
  }

  .drop-down a {
    min-width: 90px;
    color: #fff;
  }

  .drop-down-menu {
    display: block;
  }

  .menu-title {
    cursor: pointer;
  }

  .menu-title {
    display:block;
    padding: 10px 15px;
  }

  .activate {
    display: none;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin: 0 0 0 -15px;
    opacity: 0;
  }

  .drop-down {
    max-height: 0;
    overflow: hidden;
  }

  .activate:checked ~ .drop-down {
    max-height: 200px;
    background: #465f77;
    color: #fff;
    padding-left: 15px;
  }
  .activate:checked ~ .menu-title {
    background: #D55658;
  }

  .drop-down, .menu a, .drop-down-menu {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

}
.upper-sidebar{
  display: flex;
  padding: 10px 15px;
  height: 40px;
  background-color: #8781ce;
  overflow: hidden;
  align-items: center;
  .thumbnail{
    width: 30px;
    margin-right: 15px;
    padding: 15px 9px;
    border-radius: 50%;
    background: lightcoral;
    text-transform: uppercase;
  }
  span {
    display: block;
    font-size: 0.7em;
    text-align: left;
  }
  .name {
    font-size: 0.8em;
    text-transform: uppercase;
  }
}
.header{
  background: #FFF;
  padding: 20px 10px;
  color: #33495e;
  height: 20px;
  text-align: left;
  z-index: 5;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.22);
  a {
    color: #33495e;
    margin: 0 5%;
  }
  .link-icons {
    width: 30%;
    text-align: right;
    float: right;
  }
}
