$break-small: 520px;
$break-large: 1200px;
.login-container {
  max-width: 400px;
  margin: 2% auto;
  padding: 4%;
  font-size: 1em;
  text-align: center;
  .box_title{
    font-weight: 700;
    color: #7C73E6;
    margin-bottom: 1rem;
    font-size: 1.2em;
  }
  .box_desc{
    font-size: 1.5em;
    margin-bottom: 1rem;
  }
  .box_line{
    background-color: #7C73E6;
    width: 4rem;
    height: .2rem;
    margin: auto;
  }
  .form{
    margin: 2rem auto;
  }
  .forget{
    color: #D45858;
    font-size: 0.8em;
    margin-top: -20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: $break-small) {
  .sm-w-100{
    width: 100%;
    text-align: center;
    .logo{
      width: 120px;
      margin: auto;
    }
  }
  .hide-sm{
    display: none;
  }
}
