<div class="container">
  <div class="header align-center">
    <div class="inline-block width20 sm-w-100">
      <div class="logo">
        <img class="width100" src="../../assets/images/logo.png">
      </div>
    </div>
    <div class="inline-block width80 text-right hide-sm" style="vertical-align: bottom;height: 45px;">
      <ul>
        <li><a href="#/signup">Signup</a></li>
      </ul>
    </div>
  </div>
  <div class="main">
    <div class="login-container">
      <div class="box_title">
       ADMIN LOGIN
      </div>
      <div class="box_desc">
        Welcome back
      </div>
      <div class="box_line">
      </div>
      <div class="form">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <input type="text" name="username" class="form-control" id="username" [(ngModel)]="username" placeholder="EmailId" autocomplete="off">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password" placeholder="Password">
          </div>
        </div>
      </div>
<!--      <div class="forget text-right">Forgot Password</div>-->
      <button type="button" class="btn violetBg" (click)="login()">
        Login
      </button>
<!--      <p class="message">Not registered? <a href="#signup">Create an account</a></p>-->
<!--      <p class="message">Need Help? <a href="#signup">Contact us</a></p>-->
    </div>
  </div>
  <div class="footer">
    &copy; 2019. Studyorb
  </div>
</div>
