<div>
  <div class="focusdiv whiteBg">
    <div class="width70 inline-block m-w-100">
      <h2>
        {{ subjectdata.name }}
      </h2>
      <h4>
        {{ subjectdata.description }}
      </h4>
      <ul class="key-list">
        <li>Easy to understand study material by expert teachers</li>
        <li>Earn <span class="redClr">{{ subjectdata.orbs }} ORBS </span> after completing this section</li>
        <li>Scenario-based learning with case studies and questions</li>
        <li>Understand the step-by-step process</li>
        <li>Exercises and practice material of all types from different sources</li>
      </ul>

    </div>
    <div class="inline-block width30 text-right m-w-100">
          <span class="backLink" (click)="backLink()">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back
          </span>
      <h3 class="text-center">
        Total chapters : <span class="redClr">{{ subjectdata.chapters }}</span>
      </h3>
      <div class="stats">
        <div>
          <div class="title">Likes</div>
          <i class="fa fa-heart"></i>
          <div class="value">{{ subjectdata.likes }}</div>
        </div>
        <div>
          <div class="title">Time</div>
          <i class="fa fa-clock-o"></i>
          <div class="value">{{ subjectdata.time }}</div>
        </div>
        <div>
          <div class="title">Comments</div>
          <i class="fa fa-commenting"></i>
          <div class="value">{{ subjectdata.comments }}</div>
        </div>
      </div>
      <div>By: <span class="redClr">{{ subjectdata.author }}</span></div>
    </div>
  </div>
  <div class="focusdiv">
    <div class="topiclist" *ngIf="chapterList.length > 0">
      <h3 class="redClr">Chapters you will study</h3>
      <div style="text-align: center">
          <div class="cardList" *ngFor="let chapter of chapterList">
            <app-info-card [data]="chapter" (clicked)="goToChapterList($event)">
            </app-info-card>
        </div>
      </div>
    </div>
    <div style="text-align: center" *ngIf="chapterList.length == 0">
      No Chapter added yet in this section.Please stay tuned.
    </div>
  </div>
</div>
