<div class="info-card">
  <div class="card">
    <div class="additional">
      <div class="more-info">
        <h1>{{ data.name }}</h1>
        <div class="details">
          <p *ngIf="data.chapters">Total Chapters - {{ data.chapters}}</p>
          <p *ngIf="data.topics">Total Topics - {{ data.topics}}</p>
        </div>
        <div class="stats">
          <div>
            <div class="title">Likes</div>
            <i class="fa fa-heart"></i>
            <div class="value">{{ data.likes }}</div>
          </div>
          <div>
            <div class="title">Time</div>
            <i class="fa fa-clock-o"></i>
            <div class="value">{{ data.time }}</div>
          </div>
          <div>
            <div class="title">Comments</div>
            <i class="fa fa-commenting"></i>
            <div class="value">{{ data.comments }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="general">
      <h1>{{ data.name }}</h1>
      <p>{{ data.description }}</p>
      <span class="more">By: {{ data.author }}</span>
    </div>
  </div>
  <div class="btn-section">
    <button class="btn violetBg" (click)="start()">Start</button>
  </div>
</div>
