.breadCrumbs {
  position: relative;
}

.breadCrumbs li {
  position: relative;
  float: left;
}

.breadCrumbs li a,
.breadCrumbs li p {
  margin: 0;
  display: block;
  padding: 0 10px 0 30px;
  line-height: 40px;
  color: #fff;
  background: #3fabba;
}

.breadCrumbs li:first-child a {
  padding: 0 10px 0 20px;
}

.breadCrumbs li a:hover {

}

.breadCrumbs li.activePage p,
.breadCrumbs li.activePage a {
  background: #333;
}

.breadCrumbs li:after {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  display: block;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #3fabba;
  z-index: 10;
}

.breadCrumbs li.activePage:after {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #333;
}

/* GIVE EVERY CHILD A DIFFERENT COLOR */
.breadCrumbs li:nth-child(1) a {
  background: #3fabba;
}

.breadCrumbs li:nth-child(1):after {
  border-left: 20px solid #3fabba;
}

.breadCrumbs li:nth-child(2) a {
  background: #46bdcd;
}

.breadCrumbs li:nth-child(2):after {
  border-left: 20px solid #46bdcd;
}

.breadCrumbs li:nth-child(3) a {
  background: #4bd0e2;
}

.breadCrumbs li:nth-child(3):after {
  border-left: 20px solid #4bd0e2;
}
