<div id="test"></div>
<div class="contentBox" *ngIf="content">
  <h2 class="title">{{ content.name }}</h2>
  <div class="subTitle">{{ content.description }}</div>
  <div class="byline">

    <div class="written-by inline-block width50 m-w-100">
      <span>Written By: <span class="redClr" style="margin-left: 2%;">{{ content.author }}</span></span>
    </div>
    <div class="updateDate inline-block text-right width50 m-w-100">
      <span>Updated On: <span class="redClr" style="margin-left: 2%;">{{ content.addedOn | date: 'dd/MM/yyyy'}}</span></span>
    </div>
  </div>

<!--  <ng-katex-paragraph [paragraph]="paragraph"></ng-katex-paragraph>-->
  <div class="contentor" *ngIf="loads">
    <div class="content" *ngFor="let con of contentData">

      <div *ngIf="con.content" [innerHTML]="con.content" appMathExp></div>
      <div  *ngIf="con.image" class="image-view">
        <img src="{{ con.image}}">
        <div class="caption">
          {{ con.imageTitle}}
        </div>
      </div>
    </div>
  </div>
  <div class="tips">

  </div>

</div>
