.contentBox{
  padding: 2% 4%;
  min-height: 80vh;
  .content{
    margin: 4% auto;
    clear: both;
    padding: 2%;

    .image-view{
      min-width: 300px;
      max-width: 500px;
      text-align: center;
      margin: 2% auto;
      font-size: 0.8em;
      color: #D45858;

      img{
        width: 96%;
        margin: 2% auto;
      }
    }

  }
  p{
    text-align: justify;
    word-break: break-word;
    font-size: 0.9em;
    line-height: 1.5;
    margin: 0;
  }
  .byline {
    border: solid #cccccc;
    border-width: 1px 0;
    margin: 20px 0;
    padding: 8px 0;
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1.6em;
  }

}
:host ::ng-deep ul li{
  list-style: circle;
}
//.content:nth-of-type(even) img{
//  float: right;
//  width: 280px;
//  margin-left: 1em;
//}
//
//.content:nth-of-type(odd) img{
//  float: left;
//  width: 280px;
//  margin-right: 1em;
//}
.title{
  color: #d55658;
  font-size: 1.3em;
  text-align: center;
}
.contentor{
  width: 80%;
  margin: 2% auto;
}
.subTitle{
  background: aliceblue;
  padding: 2%;
  margin-bottom: 4%;
}
@media screen and (max-width: 700px){
  .contentBox{
    min-height: auto;
    .title{
      text-align: left;
    }
    .contentor{
      width: 100%;
    }
    .content{
      text-align: center;
    }
    p{
      text-align: left;
    }
    .content:nth-of-type(even) img{
      float: none;
      width: 90%;
      margin: 1em auto;
    }
    .content:nth-of-type(odd) img{
      float: none;
      width: 90%;
      margin: 1em auto;
    }
  }
}
@media screen and (max-width: 550px){
    .m-w-100{
      width: 100%;
      text-align: left;
    }
}
:host ::ng-deep table{
  border-collapse: collapse;
  width: 100%;
  td,th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  tr:nth-child(even){background-color: #f2f2f2;}
  tr:hover {background-color: #ddd;}
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
}
