<div style="text-align: center">
  <div class="info-card">
  <div class="card">
    <div class="additional">
      <div class="more-info">
        <h1>Maths</h1>
        <div class="coords">
          <span>Group Name</span>
          <span>Joined January 2019</span>
        </div>
        <div class="coords">
          <span>Position/Role</span>
          <span>City, Country</span>
        </div>
        <div class="stats">
          <div>
            <div class="title">Awards</div>
            <i class="fa fa-trophy"></i>
            <div class="value">2</div>
          </div>
          <div>
            <div class="title">Matches</div>
            <i class="fa fa-gamepad"></i>
            <div class="value">27</div>
          </div>
          <div>
            <div class="title">Coffee</div>
            <i class="fa fa-coffee"></i>
            <div class="value infinity">∞</div>
          </div>
        </div>
      </div>
    </div>
    <div class="general">
      <h1>Maths</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat sit a dolor sit amet, consectetur adipiscing elit. Fusce a volutpat sit amet, consectetur adipiscing eli dolor sit amet, consectetur adipiscing elit. Fusce a volutpat sit amet, consectetur adipiscing elimet, consectetur adipiscing elit. Fusce a volutpat  mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
      <span class="more">By: Raj Pandey</span>
    </div>
  </div>
    <div class="btn-section">
      <button class="btn violetBg">Play</button>
    </div>
</div>

  <div class="info-card">
    <div class="card">
      <div class="additional">
        <div class="more-info">
          <h1>Maths</h1>
          <div class="coords">
            <span>Group Name</span>
            <span>Joined January 2019</span>
          </div>
          <div class="coords">
            <span>Position/Role</span>
            <span>City, Country</span>
          </div>
          <div class="stats">
            <div>
              <div class="title">Awards</div>
              <i class="fa fa-trophy"></i>
              <div class="value">2</div>
            </div>
            <div>
              <div class="title">Matches</div>
              <i class="fa fa-gamepad"></i>
              <div class="value">27</div>
            </div>
            <div>
              <div class="title">Coffee</div>
              <i class="fa fa-coffee"></i>
              <div class="value infinity">∞</div>
            </div>
          </div>
        </div>
      </div>
      <div class="general">
        <h1>Maths</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat sit a dolor sit amet, consectetur adipiscing elit. Fusce a volutpat sit amet, consectetur adipiscing eli dolor sit amet, consectetur adipiscing elit. Fusce a volutpat sit amet, consectetur adipiscing elimet, consectetur adipiscing elit. Fusce a volutpat  mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
        <span class="more">By: Raj Pandey</span>
      </div>
    </div>
    <div class="btn-section">
      <button class="btn violetBg">Play</button>
    </div>
  </div>

</div>
