.backLink{
  padding: 1%;
  margin: 1% 2%;
  color: #5c50e4;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.divider{
  width: 100%;
  background: #465f77;
  height: 1.5px;
  margin-top: 1.5em;
}
.focusdiv{
  margin: 0;
  padding: 1% 3% 4% 3%;
  position: relative;
  h2{
    margin-bottom: 0px;
    color: #D45858;
  }
  h4{
    margin-top: 0px;
  }
  .key-list li {
    padding-left: 18px;
    font-size: 0.9em;
    font-weight: 400;
    color: rgba(0,0,0,0.8);
    line-height: 20px;
    position: relative;
    margin-bottom: 8px;
  }
  .key-list li::before {
    content: "";
    position: absolute;
    left: 0;
    background-image: url('../../../assets/images/icons.png');
    background-position: -254px 0px;
    width: 6px;
    height: 10px;
    top: 5px;
  }
}
.width70{
  width: 70%;
}
.width30{
  width: 30%;
}
.cardList{
  width: 30%;
  display: inline-block;
  margin: 3% 1%;
  font-size: 0.9em;
  @media screen and (max-width: 512px){
    width: 85%;
  }
}
.stats {
  font-size: 2rem;
  display: flex;
  margin: 2rem auto;
  .fa, a{
    color: inherit !important;
  }
  .fa{
    margin: 8px auto;
    font-size: 20px;
  }
}

.stats {
  color: #325C46;
}

.stats > div {
  flex: 1;
  text-align: center;
}

.stats i {
  display: block;
}
.stats div.title {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.stats div.value {
  font-size: 1.3rem;
  line-height: 1.3rem;
}

@media screen and (max-width: 700px){
  .m-w-100{
    width: 100%;
  }
}
