<div class="container">

  <div class="header align-center">
    <div class="inline-block width20 sm-w-100">
      <div class="logo">
        <img class="width100" src="../../assets/images/logo.png">
      </div>
    </div>

    <div class="inline-block width80 text-right hide-sm" style="vertical-align: bottom;height: 45px;">
      <ul>
<!--        <li><a href="#/signup">Contact Us</a></li>-->
<!--        <li><a href="#/signup">Help</a></li>-->
        <li><a href="#/login">Login</a></li>
      </ul>
    </div>

  </div>

  <div class="main">
    <div class="login-container">
      <div class="box_title">
        REGISTER
      </div>
      <div class="box_desc">
        Don't worry, Its free
      </div>
      <div class="box_line">
      </div>
      <div class="form">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <input type="text" name="username" class="form-control" id="username" [(ngModel)]="username" placeholder="EmailId" autocomplete="off">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password" placeholder="Password">
          </div>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-book"></i></div>
          </div>
          <select class="custom-select" [(ngModel)]="classId" id="dropdown">
            <option value="" selected disabled hidden>Select Class</option>
            <option value="9">Class 9</option>
            <option value="10">Class 10</option>
            <option value="11">Class 11</option>
            <option value="12">Class 12</option>
          </select>
        </div>

      </div>

      <button type="button" class="btn violetBg" (click)="register()">
        Register
      </button>

      <p class="message">Already registered? <a href="#login">Login Here</a></p>
<!--      <p class="message">Need Help? <a href="#signup">Contact us</a></p>-->
    </div>
  </div>
  <div class="footer">
    &copy; 2019. Studyorb
  </div>
</div>
