<div style="text-align: center">
  <div *ngIf="subjectList.length > 0">
    <div class="cardList" *ngFor="let subject of subjectList">
      <app-info-card [data]="subject" (clicked)="goToChapterList($event)">

      </app-info-card>
    </div>
  </div>
  <div *ngIf="subjectList.length == 0">
    <p>No Subjects</p>
  </div>
</div>
