/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import '~katex/dist/katex.css';
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: #33495e;
}
.container {
  width: 100%;
  height: 100vh;
}
ul {
  text-decoration: none;
  list-style: none;
}
.header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  padding: 5px 20px;
  ul{
    text-decoration: none;
    list-style: none;
    vertical-align: bottom;
    li{
      display: inline-block;
      list-style: none;
      margin: 0 10px;
      color: #7C73E6;
    }
  }
}
.main{
  min-height: 77vh;
  vertical-align: top;
}
.active{
  background: #D45858;
}
.redClr{
  color: #D45858;
}
.footer{
  bottom: 0;
  padding: 12px 5px;
  text-align: center;
}
.float-left{
  float: left;
}
.violetBg {
  background: #7C73E6;
  color: #fff;
}
.violetBg:hover{
  background: #5c50e4;
}
.whiteBg{
  background: #FFF;
  color: #224C36;
}

.width80{
  width: 80%;
}
.width20{
  width: 20%;
}
.width0 {
  width: 0 !important;
}
.width50 {
  width: 50%;
}
.width100{
  width: 100%;
}
.vertical-bottom{
  vertical-align: bottom;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.inline-block{
  display: inline-block;
}
.static{
  position: static !important;
}
.logo{
  width: 150px;
}
/*   bootstrap css override  */
.fa,a{
  color: #7c73e6;
  text-decoration: none;
  cursor: pointer;
}
.fa:hover,a:hover{
  color: #5c50e4;
}
a:hover{
  text-decoration: none;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.form-group {
  margin-bottom: 1rem;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn {
  width: 100%;
  cursor: pointer;
  padding: 10px;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group-append, .input-group-prepend {
  display: flex;
}
.input-group > .input-group-prepend > .input-group-text {
  width: 20px;
  text-align: center;
  padding: 15px;
  font-size: 1.4rem;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}
.input-group>.custom-select, .input-group>.form-control {
  padding: 10px;
  background: transparent;
  border: 1px solid #ced4da;
  font-size: 0.9em;
  color: #495057;
}
.input-group>.input-group-prepend>.input-group-text {
  margin-right: -1px;
}
select option{
  font-size: 1.2em;
}

.btn:hover{
  color: #fff;
}
p {
  margin: 1rem auto;
}
dl, ol, ul {
  margin: 0;
  padding: 0px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 0;
  padding-left: 0;
}
.align-center {
  align-items: center!important;
}
